client/src/main/java/client/demo/locations.wsdl

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:8080"
           targetNamespace="http://localhost:8080" elementFormDefault="qualified">


    <xs:element name="getLocationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="phone" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLocationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="location" type="tns:location"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="location">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>